/* You can add global styles to this file, and also import other style files */

body {
    background-color: darkslategray;
}

title {
    color: white;
}

h1,
h2,
h3,
h4 {
    color: white;
}

th,
td,
button {
    color: white;
}

#click {
    color: white;
}